In [1]:
import logging
from s4.client import s4

logging.basicConfig(level=logging.DEBUG)

my_s4 = s4('http://localhost:5000', secret_key='H7n_Y2qLMcREIz9ofAiWtSlaptaV1ghLkl8veKgLXi4')

DEBUG:urllib3.connectionpool:Starting new HTTP connection (1): localhost:5000
DEBUG:urllib3.connectionpool:http://localhost:5000 "GET / HTTP/1.1" 200 37
DEBUG:root:Connected to s4 server at http://localhost:5000: Welcome to s4! The server is running!

In [5]:
create_statement: str = """
    CREATE TABLE users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        username TEXT NOT NULL UNIQUE,
        email TEXT NOT NULL UNIQUE,
        password_hash TEXT NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );
"""

insert_statement: str = """
    INSERT INTO users (username, email, password_hash)
    VALUES ('alice', 'alice@example.com', 'hashed_password_here');
"""

select_statement: str = """
    SELECT * FROM users;
"""

my_s4.sql(select_statement)

DEBUG:urllib3.connectionpool:Resetting dropped connection: localhost
DEBUG:urllib3.connectionpool:http://localhost:5000 "POST /api/sql HTTP/1.1" 200 148
DEBUG:root:Response Status Code: 200
DEBUG:root:Response JSON: {'sqlResponse': [{'created_at': '2025-08-17 23:45:53', 'email': 'alice@example.com', 'id': 1, 'password_hash': 'hashed_password_here', 'username': 'alice'}]}