In [2]:
import logging
from s4.client import s4

logging.basicConfig(level=logging.DEBUG)

my_s4 = s4('http://192.168.1.99:5000')

DEBUG:urllib3.connectionpool:Starting new HTTP connection (1): 192.168.1.99:5000
DEBUG:urllib3.connectionpool:http://192.168.1.99:5000 "GET /api/connect HTTP/1.1" 200 49
DEBUG:root:http://192.168.1.99:5000: Connection to s4 server established successfully!

In [ ]:
create_statement: str = """
    CREATE TABLE users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        username TEXT NOT NULL UNIQUE,
        email TEXT NOT NULL UNIQUE,
        password_hash TEXT NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );
"""

insert_statement: str = """
    INSERT INTO users (username, email, password_hash)
    VALUES ('alice', 'alice@example.com', 'hashed_password_here');
"""

select_statement: str = """
    SELECT * FROM users;
"""

my_s4.sql(create_statement)
#my_s4.sql("SELECT name FROM sqlite_master WHERE type='table';")

DEBUG:urllib3.connectionpool:Resetting dropped connection: 192.168.1.99
DEBUG:urllib3.connectionpool:http://192.168.1.99:5000 "POST /api/sql HTTP/1.1" 200 33

{'error': 'no such table: users'}